@charset "utf-8";
html {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.container-fluid{
    max-width: 990px;
    padding: 0px 45px 0px 45px;
}
.navbar-brand{
    font-weight: 800;
}
.navbar-nav{
    margin-left: auto;
}

main{
    margin-top: 56px;
    position: absolute;
    width: 100%;
    height: calc(100% - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

footer{
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.content{
    height: auto;
    min-height: 100%;
    margin-top: 32px;
    border-radius: 16px 16px 0px 0px;
    padding: 64px;
}

.content, footer{
    position: relative;
    background-color: white;   
}

@media screen and (min-width: 990px) {
  .content, footer{
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
  }
}

@media screen and (max-width: 990px) {
  .content, footer{
    width: auto;
    margin: 0px 45px 0px 45px;
  }
}

/* Content Part (Markdown theme) */
h1{
    margin-bottom: 64px;
    font-weight: bold;
}